html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    overflow-x: hidden;
}

/* navbar  */
header {
    min-height: 10vh;
    background-color: #6F6AF7;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    min-width: fit-content;
    padding: 0 2rem;
    z-index: 10;
}

header h1 {
    margin: 0;
    font-family: 'Delius Unicase', cursive;
    color: white;
    font-size: 3rem;
}

header ul {
    display: flex;
}

header img {
    width: 5%;
    height: 50%;
    content-visibility: auto;
}

nav {
    margin-left: auto;
    margin-right: auto;
    transform: translateX(4rem);
}


nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 3rem;
    color: white;
    font-size: 1.8rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: white;
}

nav ul li:last-child {
    width: 8rem;
    cursor: pointer;
}

.down-arrow {
    width:8%;
    height: 15%;
    transform: translateY(-5px);
}

.search-field {
    display: relative;
    width: 25vw;
    margin-left: 1.5rem;
}

.search-field input {
    padding: 0.8rem 0.8rem;
    width: 18vw;
    border-radius: 20px;
    border: none; 
    outline: none;
    font-size: 1rem;
}

.search-field img {
    display: absolute;
    width: 20px;
    height: auto;
    content-visibility: auto;
    transform: translateX(-2.5vw) translateY(0.5vh);
}

.menu {
    width: 40px;
    height: 30px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 4.5vw;
}

/*  */

/* main */

main {
    position: relative;
    display: flex;
    padding-top: 6rem;
}

.non-sticky {
    width: 92%;
}

.sticky-comp {
    width: 8%;
    display: flex;
    flex-direction: column;
}

.main-content {
    margin-left: auto;
    margin-top: 5rem;
    display: flex;
}

.main-content img {
   width: 30%;
   margin-left: 5rem;
}

.main-content textarea {
    width: 70%;
    margin-left: 4rem;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #E5D8FF;
    padding: 2rem;
    color: #6F7373;
    font-size: 1.2rem;
    box-shadow: inset 3px 5px 27px 0 rgba(0, 0, 0, 0.25);
}

.cards {
    display: flex;
    gap: 2rem;
    margin-left: 4rem;
    margin-bottom: 6rem;
    margin-right: -1.5rem;
    margin-top: 3rem;
}

.cards div {
    min-height: 18vh;
    width: 337px;
    margin-top: 3rem;
    border-radius: 15px;
    font-size: 1.5rem;
    padding-left: 2rem;
    color: white;
    box-shadow: 0 9px 31px 0 rgba(0, 0, 0, 0.4);
}

.cards div:first-child {
    background-color: #929DFF;
}

.cards div:nth-child(2) {
    background-color: #734CF2;
}

.cards div:nth-child(3) {
    background-color: #D288FF;
}

.cards div:last-child {
    background-color: black;
}

.info-card {
    display: flex;
    margin-left: 4rem;
    margin-right: -1.5rem;
    border-radius: 15px;
    background-color: #483EFF;
    padding: 2rem;
    gap: 1.5rem;
    margin-bottom: 5rem;
    min-height: 70vh;
}

.left {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 0 2rem;
    gap: 5.3rem;
}

.left div {
   padding: 2.2rem;
   border-radius: 15px;
   text-align: center;
   font-size: 1.5rem;
   cursor: pointer;
}

.left div:first-child {
    background-color: #BCE0F6;
    box-shadow: 0 6px 35px 0 rgba(0, 0, 0, 0.39);
}

.left div:nth-child(2) {
    color: white;
    border: 5px solid white;
}

.left div:last-child {
    color: white;
    border: 5px solid white;
}

.right {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 1.5rem 2rem;
    min-height: 63vh;
}

.right h2 {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
}

.personal-info {
    display: flex;
    margin-left: 1rem;
    line-height: 2.5rem;
    gap: 1rem;
    font-family: 'Roboto', sans-serif;
}

.personal-info div:first-child {
    min-width: 50px;
}

.value {
    font-weight: 400;
}

.colon {
    font-weight: 400;
    align-self: center;
}

.next-button {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 400;
    margin-top: auto;
    margin-left: auto;
    cursor: pointer;
}

.next-button img {
    margin-top: 0.4rem;
    width: 70%;
    height:auto;
    content-visibility: auto;
}


/* position the icons */
.icons {
    position: sticky;
    top: 20vh;
    margin-top: 25vh;
    align-items: flex-end;
    display: flex;
    heght:fit-content;
    flex-direction: column;
    gap:0.2rem;
}
.icons img {
    width: 50%;
    content-visibility: auto;
    cursor: pointer;
}

.help {
    position: fixed;
    bottom: 0;
    right: 5vw;
}

.help img {
    width: 120px;
    height: auto;
    content-visibility: auto;
    cursor: pointer;
}

/* */

/* main over */



